/* Image sprite for the avatar retrieved from
http://findicons.com/files/icons/1072/preview/face_avatars_full_2.png
Then created it as a single sprite manually
*/

/* Wordcraft Avatar sprite 40x40 thumbnail */
.wc-avatar {
    width: 40px;
    height: 40px;
    background-image:url("/assets/avatarSprite_40.png");
    display:inline-block;
}

.wc-avatar-1 { background-position:         0 0 }
.wc-avatar-2 { background-position:     -40px 0 }
.wc-avatar-3 { background-position:     -80px 0 }
.wc-avatar-4 { background-position:    -120px 0 }
.wc-avatar-5 { background-position:    -160px 0 }
.wc-avatar-6 { background-position:    -200px 0 }
.wc-avatar-7 { background-position:    -240px 0 }
.wc-avatar-8 { background-position:    -280px 0 }
.wc-avatar-9 { background-position:    -320px 0 }
.wc-avatar-10 { background-position:   -360px 0 }
.wc-avatar-11 { background-position:   -400px 0 }
.wc-avatar-12 { background-position:   -440px 0 }
.wc-avatar-13 { background-position:   -480px 0 }
.wc-avatar-14 { background-position:   -520px 0 }
.wc-avatar-15 { background-position:   -560px 0 }
.wc-avatar-16 { background-position:   -600px 0 }
.wc-avatar-17 { background-position:   -640px 0 }
.wc-avatar-18 { background-position:   -680px 0 }
.wc-avatar-19 { background-position:   -720px 0 }
.wc-avatar-20 { background-position:   -760px 0 }
.wc-avatar-21 { background-position:   -800px 0 }
.wc-avatar-22 { background-position:   -840px 0 }
.wc-avatar-23 { background-position:   -880px 0 }
.wc-avatar-24 { background-position:   -920px 0 }
.wc-avatar-25 { background-position:   -960px 0 }
.wc-avatar-26 { background-position:  -1000px 0 }
.wc-avatar-27 { background-position:  -1040px 0 }
