body {
    /* using bs-fixed-top */
    padding-top: 70px;
}

.error {
    color:red;
}

.self {
    font-weight: bold;
    color: orange;
}
.gameroom-body {
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;
}

.chatroom-body {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.private-msg {
    color: purple;
}

.system-msg {
    color: red;
}

.game-msg {
    color: orange;
}
.greeting-msg {
    color: blue;
}

.gameboard-body {
    min-height: 560px;
    max-height: 600px;
}

.main-game {
    min-height: 200px;
    max-height: 200px;
}
