body {
    /* using bs-fixed-top */
    padding-top: 70px;
}

.error {
    color:red;
}

.self {
    font-weight: bold;
    color: orange;
}
.gameroom-body {
    min-height: 100px;
    max-height: 200px;
    overflow-y: scroll;
}

.chatroom-body {
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.private-msg {
    color: purple;
}

.system-msg {
    color: red;
}

.game-msg {
    color: orange;
}
.greeting-msg {
    color: blue;
}

.gameboard-body {
    min-height: 400px;
    max-height: 400px;
}

.thumbnail {
    width: 100px;
    text-align: center;
    display:inline-block;
}
/*game result style*/
.margin40 {
    margin-bottom: 40px;
}
.item-img-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.result-page {
  width: 100%;
  padding: 10px 10px;
  background: #FFF;
  border-top: none;
  position: relative;
}
.result-page h3 {
  margin: 10px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.result-page h4 {
  margin: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: green;
}
.result-page p {
  margin: 10px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: blue;
}
.result-page span {
  margin: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: red;
}
