/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
 
/* padded section */
.pad-section {
  padding: 50px 0;
}

#customNavBar {
  color:red;
}

#greetMsg {
  color:white;
  font-size: 1.5em;
  padding-bottom:2%;
}

.pad-section img {
  width: 400px;
  height:300px;
}
 
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
 
/* additional sections */

#home {
  padding-top:150px;
  background: url(../assets/original.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aboutGameTitle{
  padding-top:10%;
  color:brown;
  font-size:x-large;
  font-weight:bold;
} 

#aboutGame .lead{
  padding-top:5%;
  color:brown;
  padding-bottom:10%;
  
}
#gameRules {
  padding-top:20%;
  background: url(../assets/original.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#gameRules .panel-title{
  font-size:x-large;
  text-align:center;
  color:darkgreen;
  font-weight:bold;
}

#gameRules #customRules, #customSteps{
  text-align:center;
  color:brown;
  font-weight:bold;
}

#gameRules .panel {
  opacity: 0.85;
}

#gameMsg{
  color:white;
  padding-bottom:10px;
  font-size:large;
}

#playButton{
  background-color: #306d9f;
  color:white;
}

#modalTitle{
  color:darkblue;
}

footer {
  padding: 20px 0;
}

